@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Thinkshout/SuperstarMedia, 2012
   ========================================================================== */


body {
  background: url('../img/sky.png') repeat-x top left;
}

#container-wrapper {
  position: relative;
}
#stHelens {
    background: url('../img/sthelens.png') no-repeat 0 10px;
    width: 534px;
    height: 142px;
    float: left;
    z-index: 200;
    position: relative;
}
#mtHood{
    background: url('../img/hood.png') no-repeat 0 0;
    width: 573px;
    height: 108px;
    float: right;
    z-index: 200;
    position: relative;
}

#farHills {
  background: url('../img/far-hills.png') repeat-x -25px 81px;
  width: 1667px;
  height: 177px;
  z-index: 500;
  position: relative;
}