@import "bootstrap/bootstrap.less";

body {
  /*padding-top: 60px;
  padding-bottom: 40px;*/
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Thinkshout/SuperstarMedia, 2012
   ========================================================================== */


body {
  background: url('../img/sky.png') repeat-x top left;
}
.main{
	padding-top: 105px;
	height: 1000px;
}
.drop img{
	width: 211px;
	margin: 0 auto;
}

#container-wrapper {
  position: relative;
}
#farHills {
  background: url('../img/far-hills.png') center 175px repeat-x;
}
#forest {
  background: url('../img/forest.png') center 195px repeat-x;
}
#city {
  background: url('../img/city.png') center 215px repeat-x;
}
#clouds{
  background: url('../img/clouds.png') repeat-x -5% 10px;
}
#mountains {
  background-image: url('../img/sthelens.png'), url('../img/hood.png');
  background-position: 10% 105px, 110% 105px;
  background-repeat: no-repeat;
}
#bridge {
  background: url('../img/steel-bridge.png') no-repeat center 50px;
}

